<h1 class="title is-1 has-text-centered">Pagina de inicio</h1>

<div class="section">
  <div class="container">
    <div class="container-pagination">
      <% @products.each do |product| %>
        <div class="card">
          <div class="card-content">
            <% if product.product_pictures? %>
              <%= image_tag(product.product_pictures[0].url) %>
            <% else %>
              <img src="" alt="No hay imagen para mostrar"><br>
            <% end %>
            <%= link_to product.name, product %>
            <p><b>Precio: </b> <%= product.price %></p>
          </div>
        </div>
      <% end %>
      <% if (@products.empty?) %>
        No hay productos aún
      <% end %>
    </div>
  </div>
</div>