<h1 class="title is-1 has-text-centered has-text-white">Pagina de inicio</h1>

<div class="section">
  <% @products.each do |product| %>
    <div class="card">
      <div class="card-content">
        <%= link_to product.name, product %>
      </div>
    </div>
  <% end %>
</div>