<div class="hero is-info">
  <div class="hero-body has-text-centered">
    <h1 class="title is-1 has-text-centered">Acerca de Quetzaat</h1>

    <div class="has-text-centered">
      <img src="/assets/todos_juntos.jpg" height="250px" width="550px" alt="">
    </div>

    <h4 class="subtitle is-4">Somos un equipo de la materia de E-Commerce</h4>

    <p><b>Miembros:</b></p>
    <ul>
      <li>Miguel Arturo Rojas Hernandez - Lider</li>
      <li>Luis Contreras Guerra - Programador</li>
      <li>Cristofer Hernan Trujano Carranco - Programador</li>
      <li>Jardel Alejandro Corpus Ortíz - Diseñador</li>
      <li>Hector Eduardo Mares - Diseñador</li>
    </ul>
  </div>
</div>
