<h1 class="title is-1 has-text-centered">Mi carrito de compras</h1>

<div id="cart-shop1">
    <div v-if="products.length !== 0">
        <div v-for="product in products" class="card">
            <div class="card-content">
                <div class="columns">
                    <div class="column is-four-fifths">
                        {{ product.name }}
                    </div>
                    <div class="column">
                        <cart-button-del :id="product.id"></cart-button-del>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <p class="has-text-black has-text-right"><b>Total: $</b>{{ total }}</p>
        <button class="button is-link"><span class="icon"><i class="fas fa-shopping-basket"></i></span>Proceder al pago</button>
    </div>
    <div v-else>
        <h2 class="title is-2 has-text-centered">No has agregado productos aún</h2>
    </div>
</div>

<script>
    var cartDisplay = new Vue({
    el: "#cart-shop1",
    data: () => ({
      products: []
    }),
    beforeMount() {
      this.products = JSON.parse(localStorage.getItem("products")) || [];
    },
    watch: {
      products() {
        localStorage.setItem("products", JSON.stringify(this.products));
        this.products = JSON.parse(localStorage.getItem("products")) || [];
      }
    },
    computed: {
      total() {
        let t = 0;

        this.products.forEach(product => {
          t += product.price;
        });

        return t;
      }
    }
  });

//   var cartButtonAdd = Vue.component("cart-button", {
//     template: `<button class="button" @click='addToCart'>Añadir al carrito</button>`,
//     props: ["id", "name", "price"],
//     methods: {
//       addToCart(el) {
//         cartDisplay.products.push({
//           id: this.id,
//           name: this.name,
//           price: this.price
//         });
//       }
//     }
//   });//
   var cartButtonDelete = Vue.component("cart-button-del", {
     template: `<button class="button is-danger" title="Quitar producto del carrito" @click="handleDelete">
                     <span class="icon">
                         <i class="fas fa-times"></i>
                     </span>
                 </button>`,
     props: ["id"],
     methods: {
       handleDelete() {
         for (var i = 0; i < cartDisplay.products.length; i++) {
           if (cartDisplay.products[i].id === this.id) {
             cartDisplay.products.splice(i, 1);
           }
         }
       }
     }
   });
//   var showProduct = new Vue({
//     el: "#show-products"
//   });
</script>
