<h1 class="title is-1 has-text-centered">Mi carrito de compras</h1>

<div class="card" id="navbar-dropdown1">
  <div class="card-content">
    <div id="cart_container1">
    </div>
    <p class="has-text-black has-text-right" id="total_text1"></p>
  </div>
</div>

<script>
var products = [];

if (JSON.parse(localStorage.getItem("products")) !== undefined) {
  products = JSON.parse(localStorage.getItem("products"));
}

function commitProducts() {
  localStorage.setItem("products", JSON.stringify(products));
  document.getElementById("cart_container").innerHTML = "";
  renderCartProducts();
}

function deleteProductFromCart1(id) {
  for (let i = 0; i < products.length; i++) {
    if (products[i].id === id) {
      products.splice(i, 1);
    }
  }

  commitProducts();
}

function renderCartProducts() {
  let cartContainer = document.getElementById("cart_container1");
  let total = 0;

  if (products.length > 0) {
    products.forEach(product => {
      cartContainer.innerHTML += `<div class="navbar-item"><button onClick="deleteProductFromCart1(${
        product.id
      })" class="button is-danger is-small">
    <span class="icon"><i class="fas fa-times"></i></span></button>
                      <p>${product.name}</p>
                      <hr>`;

      total += parseInt(product.price);
    });

    document.getElementById("total_text1").style.display = "block";
    document.getElementById("total_text1").innerHTML = `<b>Total: </b>$${total}`;
  } else {
    document.getElementById("total_text1").style.display = "none";
    cartContainer.innerHTML = `<p class="has-text-black">No has agregado productos al carrito</p>`;
  }
}

renderCartProducts();

</script>
