<p id="notice"><%= notice %></p>

<div class="card">
  <div class="card-content">
    <h1 class="subtitle is-1 has-text-centered">Status de la compra #<%= @checkout.id %></h1>

    <div class="tabs">
      <ul>
        <li <% if @checkout.status == 'REQUESTED' %> class="is-active" <% end %>><a>Ordenado</a></li>
        <li <% if @checkout.status == 'CHECKING' %> class="is-active" <% end %>><a>Revisando Pago</a></li>
        <li <% if @checkout.status == 'SHIPPED' %> class="is-active" <% end %>><a>Enviado</a></li>
        <li <% if @checkout.status == 'DELIVERED' %> class="is-active" <% end %>><a>Entregado</a></li>
      </ul>
    </div>

    <% if @checkout.status == 'REQUESTED'%>
      <h2 class="subtitle is-2">Pedido Ordenado</h2>
    <% elsif @checkout.status == 'CHECKING'%>
      <h2 class="subtitle is-2">Revisando Pago</h2>
    <% elsif @checkout.status == 'SHIPPED' %>
      <h2 class="subtitle is-2">Enviado</h2>
    <% elsif @checkout.status == 'DELVERED' %>
      <h2 class="subtitle is-2">Entregado</h2>
    <% end%>

  </div>
</div>
