/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require quill.snow
 */
body,
html {
  color: #445545 !important;
  background: #f5f5f5 !important;
}

.spacer {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;

  height: 0.5px !important;
}

a:hover {
  color: #79a3cd;
}

.container-pagination {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

.container-pagination > * {
  margin-left: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  flex-basis: 23%;
}

#card-home {
  border-radius: 10px;
}

.navbar {
  height: 75px;
}

.container-form {
  width: 70%;
  margin: auto;
}
