// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search-card {
  margin-bottom: 2em;
}

img.image-home {
  width: 100% !important;
  width: 500px !important;
}
