<div class="hero is-primary">
  <div class="hero-body">
    <h1 class="title is-1 has-text-centered has-text-white">Perfil del nombre del usuario</h1>

    <p><b>Email: </b><%= @user.email %></p>
  </div>
</div>